@font-face {
    font-family: "montserrat";
    src: url('./m.ttf');
}
@font-face {
    font-family: "allura";
    src: url('./Allura-Regular.ttf');
}
@font-face {
    font-family: "dscript";
    src: url('./DancingScript-VariableFont_wght.ttf');
}
@font-face {
    font-family: "kscript";
    src: url('./KaushanScript-Regular.ttf');
}
@font-face {
    font-family: "merienda";
    src: url('./Merienda-VariableFont_wght.ttf');
}
@font-face {
    font-family: "bebas";
    src: url('./BebasNeue-Regular.ttf');
}

body{
    // font-family: sans-serif;
    font-family: montserrat;
}

*{
    padding:0;
    margin: 0;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between  ;
}
.align-center{
    align-items: center;
}
.align-left{
    align-items: flex-end;
}
.align-start{
    align-items: flex-start;
}
.flex-column{
    flex-direction: column;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.relative{
    position: relative;
}
.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 16px;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1440px) {
    .container {
      max-width: 1184px;
    }
  }

.promo-wrapper{
    background-color: #ca192e;
    // background-color: #efc300;
    color: #fff;
    // color: #000;
    font-size: 12px;
    text-align: center;
    border-bottom: 0.5px solid lightgray;
    p{
        padding: 10px 0;
    }
}

.header-banner-wrapper{
    background-image: url("./hero.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 1;
    header{
        position: fixed;
        top: 38px;
        left: 0;
        right: 0;
        z-index: 999;
        transition: all 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
        ul{
            color: #fff;
            list-style-type: none;
            li{
                display: inline-block;
                margin-right: 15px;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 2px;
                &:last-child{
                    margin: 0;
                }
            }
        }
        .right-link{
            display: flex;
            align-items: center;
        }
        .header-icons{
            margin-left: 60px;
            display: flex;
            align-items: center;
            svg{
                cursor: pointer;
                fill: #fff;
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }
                &.login{
                    stroke: #fff;
                    stroke-width: 2px;
                    width: 25px;
                    height: 25px;
                }
            }
        }
        &.scrolled, &.already-scrolled{
            background-color: #0f0e0e;
            top: 0;
        }
        .hamburger{
            display: none;
            width: 20px;
            height: 20px;
            fill: #fff;
            cursor: pointer;   
            position: relative;
            z-index: 1;                                                                                                                                                                                                                               ;
        }
        .navbar-mobile{
            display: none;
        }
        .container{
            position: relative;
            height: 100px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    // .banner-wrapper{
    //     background: url(./hero-transparent.png);
    //     height: 100vh;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     position: relative;
    //     z-index: 2;

    // }
    .scrolled-pass-100.banner-wrapper{
        z-index: 1;
    }
    .fix-logo-wrapper{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translate(0, -50%);
        h1{
            font-weight: 400;
            color: #d17c0c;
            font-size: 35px;
            letter-spacing: 5px;
            opacity: 1;
            
        }
    }
    .logo-wrapper{
        position: absolute;
        left: 50%;
        top: 110%;
        transform: translate(-50%, 0%);
        transition: all 0.8s cubic-bezier(0.8, 0, 0, 1) 0s;
        z-index: 1;
        h1{
            font-weight: 400;
            color: rgb(214, 214, 214);
            font-size: 160px;
            letter-spacing: 30px;
            opacity: 0.5;
            transition: opacity 0.8s cubic-bezier(0.8, 0, 0, 1) 0s, 
            letter-spacing 2.2s cubic-bezier(0.8, 0, 0, 1) 0s, 
            transform 0.8s cubic-bezier(0.8, 0, 0, 1) 0s, 
            font-size 0.8s cubic-bezier(0.8, 0, 0, 1) 0s;
            
        }
        img{
            width: 500px;
            height: 130px;
            transition: width 1.3s cubic-bezier(0.8, 0, 0, 1) 0s, height 0.8s cubic-bezier(0.8, 0, 0, 1) 0s;
        }
    }
    .scrolled .logo-wrapper, .already-scrolled .logo-wrapper{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translate(0, -50%);
        h1{
            font-size: 35px;
            letter-spacing: 5px;
            opacity: 1;
        }
        img{
            width: 140px;
            height: 38px;
        }
    }
}

main{
    .main-div{
        padding: 100px 0;
        min-height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .main-div-inside{
            width: 100%;
        }
        &:nth-child(odd){
            // background-color: bisque;
        }
        &:nth-child(even){
            // background-color: rgba(255, 228, 196, 0.527);
        }
        h2{
            text-align: center;
            padding: 0 0 30px 0;
            font-size: 62px;
            font-weight: 300;
            // text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "kscript";
            &:nth-child(2){
                font-family: "montserrat";
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }
    .floating-link-window{
        position: fixed;
        right: 15px;
        top: 50%; 
        transform: translateY(-50%);
        &:hover{
            .link{
                opacity: 1;
            }
        }
        .link{
            font-size: 13px;
            opacity: 0.3;
            text-align: left;
            margin: 2px 0px;
            // height: 21px;
            padding: 1px 0;
            line-height: 21px;
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.2, 0, 0, 1);
            &:hover{
                opacity: 1;
                transform: scale(1.005) translateX(-5px);
                &::before{
                    content: "";
                    width: 6px;
                    display: block;
                    height: 6px;
                    background-color: #333;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -10px;
                    border-radius: 50%;
                }
            }
            a{
                text-decoration: none;
                color: #333;
                padding: 4px 0;
            }
        }
        .floating-link-btn{
            display: none;
        }
    }
    .categories{
        // padding: 50px 0 100px;
        h2{
            // text-transform: uppercase;
        }
        .categories-wrapper{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 15px;
            .category{
                margin: auto;
                img{
                    border-radius: 50%;
                    box-shadow: 0px 0px 10px #d1cece;
                    max-width: 100%;
                    height: auto;
                }
                h3{
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    max-width: 150px;
                    margin-top: 30px;
                    letter-spacing: 4px;
                }
            }
        }
    }  
    .f-width-img{
        height: 400px;
        background-image: url("./homepage/shutterstock_1727031229.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-position-y: center;
        .text-wrapper{
            color: #fff;
            h2{
                font-size: 30px;
                letter-spacing: 2px;
                margin-bottom: 30px;
                text-align: left;
                padding: 0;
                font-weight: 600;
                width: 55%;
                text-shadow: 10px 10px 100px #000;
            }
            p{
                font-size: 16px;
                letter-spacing: 1px;
                margin-bottom: 30px;
                cursor: pointer;
                width: 30%;
                text-shadow: 1px 1px 5px #333;
            }
            button{
                background: #eee;
                border: none;
                border-radius: 4px;
                text-transform: uppercase;
                padding: 10px 20px;
                color: #333;
                font-weight: 600;
            }
        } 
    }  
    .brands{
        position: relative;
        // overflow: hidden;
        min-height: 70vh;
        .brand-btn-wrapper{
            position: relative;
            overflow-x: scroll;
            scroll-behavior: smooth;
            scrollbar-width: none;
            cursor: pointer;
        }
        h2{
            font-family: "kscript";
        }
        .brand-wrapper{
            display: flex;
            align-items: center;
            // justify-content: flex-start;
            // column-gap: 60px;
            width: 100%;
            transition: transform 1s ease-in-out;
            .brand{
                margin-right: 40px;
                border-radius: 50%;
                width: 100px;
                background-color: #d2d2d2;
                height: 100px;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: auto;
                    box-shadow: 0px 0px 10px #d1cece;
                }  
            }
        }
        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0);
            color: #585757;
            font-size: 60px;
            border: none;
            cursor: pointer;
            padding: 10px;
            z-index: 99;
        }
        
        .prev {
            left: 0;
            animation: slider-btn-left 2s linear infinite;
        }
        
        .next {
            right: 0;
            animation: slider-btn-right 2s linear infinite;
        }
    }
    @keyframes slider-btn-left {
        0% { opacity: 0.1; left: 30px;}
        25% { opacity: 0.45; left: 20px; }
        50% { opacity: 0.65; left: 10px; }
        75% { opacity: 0.85; left: 0px; }
        100% { opacity: 0.1; left: 30px; }
    }
    @keyframes slider-btn-right {
        0% { opacity: 0.1; right: 30px;}
        25% { opacity: 0.45; right: 20px; }
        50% { opacity: 0.65; right: 10px; }
        75% { opacity: 0.85; right: 0px; }
        100% { opacity: 0.1; right: 30px; }
    }
    .third-section{
        padding: 100px 0 500px;
        background-color: #000;
        position: relative;
        .main-heading{
          font-size: 36px;
          margin-bottom: 48px;
          line-height: 50px;
          font-weight: 500;
          color: #8d8d8d;
            // text-transform: uppercase;
          text-align: center;
          font-family: "kscript";
        }
        .details-wrapper{
          display: grid;
          grid-template-columns: auto auto auto;
          column-gap: 50px;
          opacity: 0;
          transition: all 2s cubic-bezier(0.5, 0, 0, 1) 0s;
          .details{
            .heading-section{
              display: flex;
              align-items: center;
              margin-bottom: 24px;
              .number{
                color: #8d8d8d;
                background: transparent;
                box-shadow: none;
                font-size: 20px;
                line-height: 1.35;
                font-weight: 500;
                width: 50px;
                height: 50px;
                border: 2px dashed #8d8d8d;
                border-radius: 50%;
                margin-right: 10px;
                align-items: center;
                display: inline-flex;
                justify-content: center;
              }
              .heading{
                font-weight: 500;
                font-size: 20px;
                line-height: 1.35;
                color: #8d8d8d;
                width: calc(100% - 80px);
              }
            }
            .para{
              font-size: 16px;
              line-height: 24px;
              color: #8d8d8d;
            }
          }
        }
        img{
            position: absolute;
            bottom: 28%;
            left: 50%;
            transform: translateX(-50%);
            transition: all 2s cubic-bezier(0.5, 0, 0, 1) 0s;
        }
      }
    .best-rated-wrapper{
        .main-div-inside{
            .best-rated-products{
                .best-product{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .heading{
                        font-family: "montserrat";
                        font-size: 42px;
                        padding-bottom: 5px;
                        letter-spacing: 10px;
                    }
                    p{
                        width: 60%;
                        margin: 0 auto;
                        text-align: center;
                        margin-bottom: 60px;
                    }
                    .title{
                        font-family: fantasy;
                        font-size: 200px;
                        position: absolute;
                        bottom: 1px;
                        z-index: -1;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #4ca3ef;
                        width: 100%;
                    }
                } 
            }
        }
        .slider{
            position: relative;
            width: 100%;
            overflow: hidden;
            .slides{
                width: 100%; 
                display: flex;
                transition: all 1s cubic-bezier(0.5, 0, 0, 1) 0s;
                .slide {
                    min-width: 100%;
                }
            }
            
            button{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: transparent;
                color: #3333339a;
                border: none;
                cursor: pointer;
                // width: 48px;
                // height: 48px;
                z-index: 1;
                font-size: 100px;
                transition: all 0.5s ease;
                &.best-rated-prev{
                    left: 0;
                    // animation: slider-btn-left 2s linear infinite;
                }
                &.best-rated-next{
                    right: 0;
                    // animation: slider-btn-right 2s linear infinite;
                }
                &:hover{
                    color: #333;
                }
            }
            .counter {
                display: flex;
                justify-content: center;
                margin-top: 10px;
              }
          
              .counter .dot {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #3333339a;
                margin: 0 18px;
                cursor: pointer;
              }
          
              .counter .dot.active {
                background-color: #333;
              }
        }
    }   
    .video-bg{
        min-height: 70vh;
        .main-div-inside{
            video{
                width: 100%;
                height: 70vh;
                object-fit: cover;
            }
        }
    }
    .bestseller-wrapper{
        background: #000227;
        color: #72c8f7;
        padding: 100px 0;
        position: relative;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .primary-title{
            font-family: 'montserrat';
            font-weight: 600;
            line-height: 1;
            font-size: 30px;
            text-align: left;
        }   
        img{
            position: absolute;
            top: 50%;
            left: 35%;
            transform: translate(-50%, -50%) rotateY(180deg);
            z-index: 1;
        }
        .details{
            width: 50%;
            .secondary{
                font-family: sans-serif;
                font-weight: 800;
                line-height: 1;
                font-size: 100px;
                text-align: left;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #72c8f7;
                color: transparent;
                letter-spacing: 0;
            }
            p{

            }
            button{
                background: #72c8f7;
                border: #72c8f7;
                padding: 10px 20px;
                margin-top: 40px;
                color: #fff;
            }
        }  
    }
    .instagram{
        h2{
            padding-bottom: 60px;
        }
        p{
            text-align: center;
            line-height: 28px;
        }
        .insta-wrapper{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            margin-top: 40px;
            gap: 30px;
            .insta-post{
                width: 100%; 
                height: 380px;
                overflow: hidden;
                border-radius: 8px;
                .instagram-media{
                    transform: scale(1.5);
                    margin-top: 30px !important;
                    max-width: unset !important;
                    min-width: unset !important;
                }
            }
        }    
    }
    .blogs-wrapper{
        .blogs{
            .blog-one{
                background: url("./homepage/imgpsh_fullsize_anim\ \(2\).png");
                height: 400px;
                background-size: cover;
                width: 100%;
                position: relative;
                border-radius: 8px;
                margin-bottom: 40px;
                .inner{
                    button{
                        border: none;
                        padding: 8px 20px;
                        font-size: 18px;
                        border-radius: 4px;
                        background: #ac363a;
                        color: #fff;
                        position: absolute;
                        bottom: 35px;
                        left: 135px;
                    }
                }
            }
            .d-grid{
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 40px;
            }
            .blog-two, .blog-three, .blog-four{
                background: #fff;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 8px;
                img{
                    border-radius: 8px 8px 0 0;
                    width: 100% ;
                    height: 200px;
                }
                .text-content{
                    padding: 15px;
                } 
                p{
                    margin: 20px 0 10px;
                }
                button{
                    border: none;
                    padding: 4px 15px;
                    font-size: 14px;
                    border-radius: 4px;
                    background: #ac363a;
                    color: #fff;
                    float: right;
                    clear: both;
                    margin-bottom: 20px;
                }
            } 
            .all-blogs{
                border: none;
                padding: 10px 35px;
                font-size: 18px;
                border-radius: 4px;
                background: #ac363a;
                color: #fff;
                margin: 50px auto 0;
                display: block;
            }
        }  
    }  
    .how-to-wrapper{
        .main-div-inside{
            .how-to{
                .first{
                    grid-template-columns: auto auto;
                }
                .second{
                    margin-top: 10px;
                    grid-template-columns: auto auto auto;
                }
                .d-grid{
                    display: grid;
                    gap: 10px;
                }
                iframe{
                    border-radius: 8px;
                    max-width: 100%;
                }
            }    
        }
    }
    .recipe-wrapper{
        .main-div-inside{
            .recipe{
                .second{
                    margin-top: 10px;
                    grid-template-columns: auto auto auto;
                    iframe{
                        border-radius: 8px;
                        max-width: 100%;
                    }
                }
                .first, .third{
                    margin-top: 10px;
                    grid-template-columns: auto auto auto auto;
                    iframe{
                        border-radius: 8px;
                        max-width: 100%;
                    }
                }
                .d-grid{
                    display: grid;
                    gap: 10px;
                }
            }    
        }
    }
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; 
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade-up-animation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left-animation {
    0% {
        transform: translate(-100px, -50%);
        opacity: 0;
    }
    100% {
        transform: translate(0, -50%);
        opacity: 1;
    }
}

@keyframes fade-right-animation {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scale-up-animation {
    0%{
        transform: scale(1);
        opacity: 0;
    }
    100%{
        transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes scale-down-animation {
    0%{
        transform: scale(2) translate(-25%, 0%);
        opacity: 0;
    }
    100%{
        transform: scale(1) translate(-50%, 0%);
        opacity: 1;
    }
}

.viewport-active{
    .fade-up-animation {
        animation: fade-up-animation 1s ease-in-out;
        opacity: 1 !Important;
    }
    .fade-left-animation {
        animation: fade-left-animation 1s ease-in-out;
        opacity: 1 !Important;
    }
    .fade-right-animation {
        animation: fade-right-animation 1s ease-in-out;
        opacity: 1 !Important;
    }
    .scale-down-animation {
        animation: scale-down-animation 1s ease-in-out;
        opacity: 1 !Important;
    }
    .scale-up-animation {
        animation: scale-up-animation 1s ease-in-out;
        opacity: 1 !Important;
    }
}

.fade-up-animation, .fade-left-animation, .fade-right-animation, .scale-up-animation, .scale-down-animation {
    opacity: 0 !Important;
}

.loaded #loading-overlay {
    display: none;
}

.coupon-wrapper{
    position: fixed;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    .coupon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -500px;
        transition: all 1s cubic-bezier(0.5, 0, 0, 1) 0s;
        img{
            width: 500px;
            height: 200px;
        }
        &.active{
            left: 70px;
        }
        .text-wrapper{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
            .left{
                transform: rotate(270deg);
                h4{
                    text-align: center;
                    font-size: 12px;
                }
                p{
                    font-size: 100px;
                    -webkit-text-stroke-color: #ca192e;
                    -webkit-text-stroke-width: 1px;
                    color: transparent;
                    font-family: fantasy; 
                    text-align: center;
                    line-height: 100px;
                }
            }
            .right{
                color: #fff;
                margin-left: 30px;
                h4{
                    font-size: 12px;
                    text-transform: uppercase;
                    margin-bottom: 0px;
                    text-align: center;
                }
                .coupon-text{
                    font-size: 80px;
                    -webkit-text-stroke-color: #ffffff;
                    -webkit-text-stroke-width: 1px;
                    color: transparent;
                    text-align: center;
                    font-family: fantasy;
                }
                .validity{
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }
}

.coupon-btn-wrapper{
    position: fixed;
    left: -70px;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%) rotate(270deg);
    .coupon-btn{
        animation: whiteGlare 3s linear infinite;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: 700;
        background: #ca192e;
        font-family: fantasy;
        width: 195px;
        height: 60px;
        color: transparent;
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: 0.51px;
        position: relative;
        cursor: pointer;
    }
    @keyframes whiteGlare {
        0% {
            background: #af5661;
        }
        50% {
            background: #ca192e;
        }
        75% {
            background: #ff001e;
        }
        100% {
            background: #af5661;
        }
    }
}

.exit-intent-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    background: #808080b8;
    img{

    }
    .close{
        position: absolute;
        top: 5px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        cursor: pointer;
        .close-btn{
            fill: #fff;
        }
    }
}
         
footer{
    background-color: #111;
    color: #fff;
    z-index: 1;
    position: relative;                                                                                             
    .first{
        background-color: #353535;
        padding-top: 36px;
        padding-bottom: 36px;
        .left{
            h2{                                                         
                width: 360px;
                color: #d17c0c;
                font-size: 20px;
            }
            p{
                font-size: 12px;
                width: 360px;
            }
            input{
                border-radius: 8px;
                border: 1px solid #a0a1a2;
                outline: none;
                transition: all .3s ease-in-out;
                width: 100%;
                height: 46px;
                padding: 0 24px;
                font-size: 14px;
                line-height: 22px;
                width: 200px;
                margin-left: 40px;
            }
            button{
                font-size: 14px;
                height: 48px;
                width: 100px;
                padding: 12px 12px;
                line-height: 14px;
                color: #fff;
                background-color: #111;
                border-radius: 8px;
                border: 2px solid #d17c0c;
                cursor: pointer;
                margin-left: 30px;
                &.mobile-email-btn{
                    display: none;
                }
                &.desktop-email-btn{
                    display: block;
                }
            }
        } 
        .right{
            svg{
                width: 20px;
                height: 20px;
                fill: #fff;
                margin-left: 20px;
            }
        }
    }       
    .second{
        padding-top: 50px;
        padding-bottom: 50px;
        .left{
            flex-wrap: wrap;
            ul{
                h3{
                    color: #d17c0c;
                }
                li{
                    list-style-type: none;
                    font-size: 14px;
                    letter-spacing: .25px;
                    line-height: 35px;
                    color: #c3c5c6;
                    text-decoration: none;
                    transition: color .2s ease-in-out;
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            align-self: normal;
            .footer-logo{
                margin-bottom: 40px;
                margin-top: 8px;
            }
            h3{
                color: #d17c0c;
                margin-bottom: 8px;
            }
            svg{
                width: 20px;
                height: 20px;
                fill: #d17c0c;
                margin-right: 20px;
            }
            p{
                color: #fff;
            }
            p:first-child{
                margin: 10px 0;
                color: #a0a1a2;
                font-size: 12px;
            }
        }
    }
    .third{
        p{
            text-align: center;
            font-size: 14px;
            color: #d17c0c;
            &:last-child{
                margin-top: 30px;
                font-size: 12px;
                width: 70%;
                margin: 12px auto 0;
                padding-bottom: 36px;
                color: #fff;
            }
        }
    }
}     

@media screen and (max-width: 1440px){
    main{
        .instagram{
            .insta-wrapper{
                .insta-post{
                    height: 370px;
                }
            }    
        }
    }
}

@media screen and (max-width: 1200px){
    .instagram{
        .insta-wrapper{
            .insta-post{
                height: 300px;
                .instagram-media{
                    margin-top: 20px !important;
                }
            }
        }    
    }
}

@media screen and (max-width: 1024px){
    .header-banner-wrapper{
        header{
            .container{
                justify-content: space-between;

            }
            .right-link ul{
                display: none;
            }
            .header-icons{
                margin-left: 0;
                .login{
                    display: none;
                }
            }
            .hamburger{
                display: block;

            }
        }
        .banner-wrapper{
            
        }
        .fix-logo-wrapper{
            left: 50%;
            top: 31px;
            transform: translate(-50%, 0%);
            h1{
                font-size: 22px;
            }
        }
        .logo-wrapper{
            img{
            }
            h1{
            }
        } 
        .scrolled .logo-wrapper, .already-scrolled .logo-wrapper{
            left: 50%;
            top: 31px;
            transform: translate(-50%, 0%);
        }
        .navbar-mobile{
            overflow: auto;
            position: fixed;
            top: 0%;
            left: 0%;
            right: 0%;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            .inside-div{
                // background-color: #333;
                position: relative;
            }
            ul{
                display: flex;
                justify-content: left;
                align-items: flex-start;
                flex-direction: column;
                padding: 0 15px;
                margin: 30px 0;
                li, li:last-child{
                    padding: 4px 0;
                    margin: 8px 0;
                    font-weight: 900;
                    color: #000;
                    font-size: 18px;
                }
            }
            svg{
                display: block;
            }
            &.hamburger-active{
                display: block;
            }
            .close-btn{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                width: 25px;
                height: 25px;
                fill: #fff;
            }
            .header-icons{}
            .banner, .banner-2, .banner-3{
                width: 100%;
                height: 300px;
            }
            .featured-wrapper{
                margin: 40px 15px;
                .features{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    margin: 10px 0;
                    img{
                        border-radius: 4px;
                    }
                    h3{}
                    p{
                        color: grey;
                        font-size: 12px;
                    }
                } 
            }   
            .sale-wrapper{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background: blue;
                color: #fff;
                padding: 50px 20px;
                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 8px;
                }
                h4{
                    margin-left: 20px;
                    padding: 10px;
                    background: yellow;
                    color: #333;
                    border-radius: 8px;
                }
            } 
            .specials{
                background: #f7f3ec;
                padding: 40px 15px;
                div{
                    margin-bottom: 20px;
                }
                h3{}
                p{
                    font-size: 12px;
                    color: #99886c;
                }
            } 
            .bottom-links{
                margin: 40px 15px;

                h3{
                    margin-bottom: 20px;
                }

            }
            .navbar-mobile-footer{
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                justify-content: center;
                column-gap: 30px;
                margin-top: 40px;
                padding: 40px 0;
                border-top: 1px solid lightgray;
                svg{
                    width: 25px;
                    height: 25px;
                }
            }     
        }
    }
    main{
        .main-div{
            &.categories{
                .categories-wrapper{
                    column-gap: 15px;
                    .category{
                        h3{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .third-section{
            padding: 100px 0 600px;
            position: relative;
            .main-heading{
              font-size: 36px;
              margin-bottom: 48px;
            }
            .details-wrapper{
              .details{
                .heading-section{
                  .number{
                    font-size: 16px;
                    width: 30px;
                    height: 30px;
                  }
                  .heading{
                    font-size: 16px;

                  }
                }
                .para{
                  font-size: 12px;
                  line-height: 16px;
                  color: #8d8d8d;
                }
              }
            }
            img{
                height: auto;
                width: 90%;
            }
          }
          .best-rated-wrapper{
            .main-div-inside{
                .best-rated-products{
                    .best-product{
                        .heading{
                            font-family: "montserrat";
                            font-size: 42px;
                            padding-bottom: 5px;
                            letter-spacing: 10px;
                        }
                        p{
                            width: 80%;
                            margin: 0 auto;
                            text-align: center;
                            margin-bottom: 60px;
                        }
                        img{
                            width: 100%;
                        }
                        .title{
                            font-size: 170px;
                        }
                    } 
                }
            }
        }
        .bestseller-wrapper{
            .primary-title{
                font-size: 30px;
            }   
            img{
                height: 400px;
            }
            .details{
                width: 50%;
                .secondary{
                    font-size: 70px;
                }
                button{
                    margin-top: 40px;
                }
            }  
        }
    }    

    footer .first{
        .left{
            p{
                font-size: 10px !important;
                width: 240px !important;
            }
            h2{
                font-size: 14px !important;
                width: 240px !important;
            }
        } 
        .right svg{
            margin-left: 15px;
        }
    } 
}

@media screen and (max-width: 992px){
    main{
        .instagram{
            .insta-wrapper{
                .insta-post{
                    height: 220px;
                    .instagram-media{
                        margin-top: 6px !important;
                    }
                }
            }    
        }
    }
}

@media screen and (max-width: 768px){
    main{
        .instagram{
            .insta-wrapper{
                .insta-post{
                    height: 150px;
                    .instagram-media{
                        margin-top: -2px !important;
                    }
                }
            }    
        }
    }
}

@media screen and (max-width: 545px){
    .promo-wrapper{
        font-size: 10px;
    }
    .header-banner-wrapper{
        background-image: url("./hero-mobie.jpg");
        background-size: cover;
        background-repeat: repeat-y;
        header{
            .container{
                height: 70px;
                justify-content: space-between;
            }
            height: 60px;
            .right-link ul{
                display: none;
            }
            .header-icons{
                margin-left: 0;
                .login{
                    display: none;
                }
            }
            .hamburger{
                display: block;
            }
        }
        .banner-wrapper{
            
        }
        .fix-logo-wrapper{
            left: 50%;
            top: 17px;
            transform: translate(-50%, 0%);
            h1{
                font-size: 22px;
            }
        }
        .logo-wrapper{
            top: 250%;
            img{
                width: 300px;
                height: 78px;
            }
            h1{
                font-size: 22px;
                text-align: center;
                letter-spacing: 15px !important;
            }
        } 
        .scrolled .logo-wrapper, .already-scrolled .logo-wrapper{
            left: 50%;
            top: 17px;
            transform: translate(-50%, 0%);
            h1{
                font-size: 22px;
                letter-spacing: 5px !important;
            }
            img{
                width: 140px;
                height: 38px;
            }
        }
        .navbar-mobile{
            overflow: auto;
            position: fixed;
            top: 0%;
            left: 0%;
            right: 0%;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            .inside-div{
                // background-color: #333;
                position: relative;
            }
            ul{
                display: flex;
                justify-content: left;
                align-items: flex-start;
                flex-direction: column;
                padding: 0 15px;
                margin: 30px 0;
                li, li:last-child{
                    padding: 4px 0;
                    margin: 8px 0;
                    font-weight: 900;
                    color: #000;
                    font-size: 18px;
                }
            }
            svg{
                display: block;
            }
            &.hamburger-active{
                display: block;
            }
            .close-btn{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                width: 25px;
                height: 25px;
                fill: #fff;
            }
            .header-icons{}
            .banner, .banner-2, .banner-3{
                width: 100%;
                height: 150px;
            }
            .featured-wrapper{
                margin: 40px 15px;
                .features{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    margin: 10px 0;
                    img{
                        border-radius: 4px;
                    }
                    h3{}
                    p{
                        color: grey;
                        font-size: 12px;
                    }
                } 
            }   
            .sale-wrapper{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background: blue;
                color: #fff;
                padding: 20px;
                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 8px;
                }
                h4{
                    margin-left: 20px;
                    padding: 10px;
                    background: yellow;
                    color: #333;
                    border-radius: 8px;
                }
            } 
            .specials{
                background: #f7f3ec;
                padding: 40px 15px;
                div{
                    margin-bottom: 20px;
                }
                h3{}
                p{
                    font-size: 12px;
                    color: #99886c;
                }
            } 
            .bottom-links{
                margin: 40px 15px;

                h3{
                    margin-bottom: 20px;
                }

            }
            .navbar-mobile-footer{
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                justify-content: center;
                column-gap: 30px;
                margin-top: 40px;
                padding: 40px 0;
                border-top: 1px solid lightgray;
                svg{
                    width: 25px;
                    height: 25px;
                }
            }     
        }
    }
    main{
        .main-div{
            padding: 50px 0;
            min-height: 80vh;
            h2{
                font-size: 30px;
            }
            &.categories{
                .categories-wrapper{
                    grid-template-columns: repeat(3,1fr);
                    column-gap: 10px;
                    row-gap: 40px;
                    .category{
                        position: relative;
                        img{
                            opacity: 70%;
                            width: 100px;
                        }
                        // h3{
                        //     font-size: 10px;
                        //     letter-spacing: 0px;
                        //     margin-top: 0;
                        //     background: #333333;
                        //     padding: 5px 5px;
                        //     position: absolute;
                        //     top: 50%;
                        //     left: 50%;
                        //     width: 90%;
                        //     color: #fff;
                        //     border-radius: 22px;
                        //     transform: translate(-50%, -50%);

                        // }
                        h3{
                            font-size: 10px;
                            letter-spacing: 0px;
                            margin-top: 10px;
                            width: 90%;

                        }
                    }
                }
            } 
        }
        .f-width-img{
            background-position-x: center;
            .text-wrapper{
                h2{
                    font-size: 18px;
                    letter-spacing: 2px;
                    margin-bottom: 20px;
                    width: 85%;
                }
                p{
                    font-size: 13px;
                    margin-bottom: 30px;
                    width: 85%;
                }
                button{
                }
            } 
        } 
        .floating-link-window{
            transform: translate(0px, -50%);
            background: #ffffffb5;
            padding: 20px;
            right: 0 !important;
            top: 450px;
            border-radius: 8px;
            transform: translate( 240px, -50%);
            transition: all 1s cubic-bezier(0.5, 0, 0, 1) 0s;
            .link{
    
            }
        }
        .floating-link-btn{
            display: block !important;
            position: absolute;
            top: 50%;
            left: -55px;
            transform: translateY(-50%) rotate(0deg);
            opacity: 0.5;
            z-index: 5;
            transition: all 1s cubic-bezier(0.5, 0, 0, 1) 0s;
            cursor: pointer;
            button{
                background: transparent;
                border: none;
            }
        }
        .third-section{
            padding: 100px 0 300px;
            position: relative;
            .main-heading{
              font-size: 24px;
              margin-bottom: 48px;
            }
            .details-wrapper{
              grid-template-columns: auto;
              .details{
                margin-bottom: 30px;
                .heading-section{
                    margin-bottom: 5px;
                  .number{
                    font-size: 16px;
                    width: 30px;
                    height: 30px;
                  }
                  .heading{
                    font-size: 16px;

                  }
                }
                .para{
                  font-size: 12px;
                  line-height: 16px;
                  color: #8d8d8d;
                }
              }
            }
            img{
                bottom: 55%;
            }
        }
        .best-rated-wrapper{
            .main-div-inside{
                .best-rated-products{
                    .best-product{
                        .heading{
                            font-family: "montserrat";
                            font-size: 22px;
                            padding-bottom: 5px;
                            letter-spacing: 4px;
                        }
                        p{
                            width: 80%;
                            margin: 0 auto;
                            text-align: center;
                            margin-bottom: 60px;
                        }
                        img{
                            width: 100%;
                            height: auto;
                        }
                        .title{
                            font-size: 100px;
                            font-family: bebas;
                            bottom: -10px;
                        }
                        button{
                            font-size: 65px;
                        }
                    } 
                }
            }
        }
        .brands{
            min-height: 50vh;
        }
        .bestseller-wrapper{
            padding: 50px 0;
            .container{
                flex-direction: column;
            }
            .primary-title{
                font-family: 'montserrat';
                font-weight: 600;
                line-height: 1;
                font-size: 30px;
                text-align: left;
            }   
            img{
                width: 100%;
                height: 320px;
                left: 50%;
                top: 38%;
            }
            .details{
                width: 100%;
                margin-top: 300px;
                .secondary{
                    font-size: 60px;
                }
            }  
        }
        .instagram{
            padding: 50px 16px !important;
            .insta-wrapper{
                overflow-x: auto;
                .insta-post{
                    width: 250px;
                    height: 400px;
                }
            }    
        }
        .blogs-wrapper{
            .blogs{
                .all-blogs{

                }
                .blog-one{
                    height: 150px;
                    margin-bottom: 30px;
                    border-radius: 0;
                    .inner{
                        button{
                            padding: 5px 12px;
                            font-size: 12px;
                            border-radius: 4px;
                            bottom: 15px;
                            left: 25px;
                        }
                    }
                }
                .d-grid{
                    grid-template-columns: auto;
                    gap: 40px;
                    padding: 0 16px;
                }
                .blog-three, .blog-four{
                    display: none;
                } 
            }  
        } 
        .how-to-wrapper{
            padding: 0 16px;
            .main-div-inside{
                .how-to{
                    .first{
                        grid-template-columns: auto auto;
                    }
                    .second{
                        margin-top: 10px;
                        grid-template-columns: auto auto auto;
                    }
                    .d-grid{
                        display: grid;
                        gap: 10px;
                    }
                    iframe{
                        border-radius: 8px;
                        max-width: 100%;
                    }
                }    
            }
        }
        .recipe-wrapper{
            padding: 0 16px;
            .main-div-inside{
                .recipe{
                    .second{
                        margin-top: 10px;
                        grid-template-columns: auto auto auto;
                        iframe{
                            border-radius: 8px;
                            max-width: 100%;
                        }
                    }
                    .first, .third{
                        margin-top: 10px;
                        grid-template-columns: auto auto auto auto;
                        iframe{
                            border-radius: 8px;
                            max-width: 100%;
                        }
                    }
                    .d-grid{
                        display: grid;
                        gap: 10px;
                    }
                }    
            }
        }
    } 
    .coupon-wrapper{
        left: -60px;
        top: 460px;
        .coupon{
            left: -360px;
            img{
                width: 360px;
                height: 170px;
            }
            &.active{
                left: 60px;
            }
            .text-wrapper{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 5px;
                .left{
                    transform: rotate(270deg);
                    h4{
                        text-align: center;
                        font-size: 14px;
                        line-height: 12px;
                    }
                    p{
                        font-size: 60px;
                        -webkit-text-stroke-color: #ca192e;
                        -webkit-text-stroke-width: 1px;
                        color: transparent;
                        font-family: fantasy; 
                        text-align: center;
                        line-height: 60px;
                    }
                }
                .right{
                    color: #fff;
                    width: 80%;
                    margin-left: 0 !important;
                    h4{
                        font-size: 12px;
                        text-transform: uppercase;
                        margin-bottom: 0px;
                        text-align: center;
                    }
                    .coupon-text{
                        font-size: 48px;
                        -webkit-text-stroke-color: #ffffff;
                        -webkit-text-stroke-width: 1px;
                        color: transparent;
                        font-family: fantasy;
                        text-align: center;
                    }
                    .validity{
                        font-size: 12px;
                        font-weight: 500;
                        text-align: center;
                    }
                }
            }
        }
    }
    .coupon-btn-wrapper{
        left: -55px;
        top: 460px;
        z-index: 9;
        .coupon-btn{
            font-size: 24px;
            line-height: 24px;
            width: 160px;
            height: 50px;
            font-family: montserrat;
        }
    }
    footer{
        .first{
            .flex-wrapper{
                flex-direction: column !important;
            }
            .left{
                flex-direction: column !important;
                align-items: flex-start;
                p{
                    font-size: 10px !important;
                    width: 100% !important;
                }
                h2{
                    font-size: 18px !important;
                    width: 100% !important;
                }
                input{
                    margin-left: 0 !important;
                }
                .d-flex:first-child{
                    margin-bottom: 20px;
                }
                button{
                    margin-left: 5px !important;
                }
                .mobile-email-btn{
                    display:  block !important;
                    padding: 3px 0 0 !important;
                    width: 60px !important;
                    svg{
                        fill: #fff;
                        width: 30px;
                        height: 30px;
                    }
                }
                .desktop-email-btn{
                    display: none !important;
                }
                .d-flex:nth-child(2){
                    align-self: center;
                }
            } 
            .right{
                margin-top: 40px;
                svg{
                    margin-left: 25px !important;
                    width: 30px !important;
                    height: 30px !important;
                    &:first-child{
                        margin-left: 0 !important;
                    }
                }
            } 
        }
        .second{
            .left{
                ul{
                    margin-bottom: 40px;
                    width: 47%;
                    li{
                        font-size: 13px !important;
                        line-height: 28px !important;
                    }
                }
            }
            .right{
                width: 100%;
                justify-content: center !important;
                flex-direction: column-reverse;
                align-items: center;
                .footer-logo{
                    margin-bottom: 0px !Important;
                    margin-top: 40px !important;
                }
            }
        }
        .third p:last-child{
            width: 100% !important;
            font-size: 10px !important;
        }
    }  
}