@font-face {
  font-family: "montserrat";
  src: url("./m.ttf");
}
body {
  font-family: montserrat;
}

* {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-left {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 100%;
}

.page-width {
  max-width: 1400px;
  margin: 0 auto;
}

@media only screen and (max-width: 767.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 479.98px) {
  .container--no-mobile-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.promo-wrapper {
  background-color: #ca192e;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-bottom: 0.5px solid lightgray;
}
.promo-wrapper p {
  padding: 10px 0;
}

.header-banner-wrapper {
  background-image: url("./hero.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header-banner-wrapper header {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 38px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
}
.header-banner-wrapper header ul {
  color: #fff;
  list-style-type: none;
}
.header-banner-wrapper header ul li {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}
.header-banner-wrapper header ul li:last-child {
  margin: 0;
}
.header-banner-wrapper header .right-link {
  display: flex;
  align-items: center;
}
.header-banner-wrapper header .header-icons {
  margin-left: 60px;
  display: flex;
  align-items: center;
}
.header-banner-wrapper header .header-icons svg {
  cursor: pointer;
  fill: #fff;
  margin-right: 20px;
}
.header-banner-wrapper header .header-icons svg:last-child {
  margin-right: 0;
}
.header-banner-wrapper header .header-icons svg.login {
  stroke: #fff;
  stroke-width: 2px;
  width: 25px;
  height: 25px;
}
.header-banner-wrapper header.scrolled {
  background-color: #0f0e0e;
  top: 0;
}
.header-banner-wrapper header .hamburger {
  display: none;
  width: 20px;
  height: 20px;
  fill: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.header-banner-wrapper header .navbar-mobile {
  display: none;
}
.header-banner-wrapper .scrolled-pass-100.banner-wrapper {
  z-index: 1;
}
.header-banner-wrapper .fix-logo-wrapper {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
}
.header-banner-wrapper .fix-logo-wrapper h1 {
  font-weight: 400;
  color: #d17c0c;
  font-size: 35px;
  letter-spacing: 5px;
  opacity: 1;
}
.header-banner-wrapper .logo-wrapper {
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%, 0%);
  transition: all 0.8s cubic-bezier(0.8, 0, 0, 1) 0s;
  z-index: 1;
}
.header-banner-wrapper .logo-wrapper h1 {
  font-weight: 400;
  color: rgb(214, 214, 214);
  font-size: 160px;
  letter-spacing: 30px;
  opacity: 0.5;
  transition: opacity 0.8s cubic-bezier(0.8, 0, 0, 1) 0s, letter-spacing 2.2s cubic-bezier(0.8, 0, 0, 1) 0s, transform 0.8s cubic-bezier(0.8, 0, 0, 1) 0s, font-size 0.8s cubic-bezier(0.8, 0, 0, 1) 0s;
}
.header-banner-wrapper .logo-wrapper img {
  width: 500px;
  height: 130px;
  transition: width 1.3s cubic-bezier(0.8, 0, 0, 1) 0s, height 0.8s cubic-bezier(0.8, 0, 0, 1) 0s;
}
.header-banner-wrapper .scrolled .logo-wrapper {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
}
.header-banner-wrapper .scrolled .logo-wrapper h1 {
  font-size: 35px;
  letter-spacing: 5px;
  opacity: 1;
}
.header-banner-wrapper .scrolled .logo-wrapper img {
  width: 120px;
  height: 32px;
}

main .main-div {
  padding-top: 100px;
  min-height: 120vh;
}
main .main-div:nth-child(odd) {
  background-color: bisque;
}
main .main-div:nth-child(even) {
  background-color: rgba(255, 228, 196, 0.527);
}
main .main-div h2 {
  text-align: center;
  padding: 30px 0;
  font-size: 48px;
  font-weight: 400;
  opacity: 0.7;
  text-transform: uppercase;
}
main .floating-link-window {
  position: fixed;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
main .floating-link-window:hover .link {
  opacity: 1;
}
main .floating-link-window .link {
  font-size: 13px;
  opacity: 0.3;
  text-align: left;
  margin: 2px 0px;
  padding: 1px 0;
  line-height: 21px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0, 0, 1);
}
main .floating-link-window .link:hover {
  opacity: 1;
  transform: scale(1.005) translateX(-5px);
}
main .floating-link-window .link:hover::before {
  content: "";
  width: 6px;
  display: block;
  height: 6px;
  background-color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  border-radius: 50%;
}
main .floating-link-window .link a {
  text-decoration: none;
  color: #333;
  padding: 4px 0;
}
main .floating-link-window .floating-link-btn {
  display: none;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaded #loading-overlay {
  display: none;
}

.coupon-wrapper {
  position: fixed;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.coupon-wrapper .coupon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -500px;
  transition: all 1s cubic-bezier(0.5, 0, 0, 1) 0s;
}
.coupon-wrapper .coupon img {
  width: 500px;
  height: 200px;
}
.coupon-wrapper .coupon.active {
  left: 70px;
}
.coupon-wrapper .coupon .text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}
.coupon-wrapper .coupon .text-wrapper .left {
  transform: rotate(270deg);
}
.coupon-wrapper .coupon .text-wrapper .left h4 {
  text-align: center;
  font-size: 12px;
}
.coupon-wrapper .coupon .text-wrapper .left p {
  font-size: 100px;
  -webkit-text-stroke-color: #ca192e;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  font-family: fantasy;
  text-align: center;
  line-height: 100px;
}
.coupon-wrapper .coupon .text-wrapper .right {
  color: #fff;
  margin-left: 30px;
}
.coupon-wrapper .coupon .text-wrapper .right h4 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}
.coupon-wrapper .coupon .text-wrapper .right .coupon-text {
  font-size: 80px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  text-align: center;
  font-family: fantasy;
}
.coupon-wrapper .coupon .text-wrapper .right .validity {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.coupon-btn-wrapper {
  position: fixed;
  left: -70px;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%) rotate(270deg);
}
.coupon-btn-wrapper .coupon-btn {
  animation: whiteGlare 3s linear infinite;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  background: #ca192e;
  font-family: fantasy;
  width: 195px;
  height: 60px;
  color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.51px;
  position: relative;
  cursor: pointer;
}
@keyframes whiteGlare {
  0% {
    background: #af5661;
  }
  50% {
    background: #ca192e;
  }
  75% {
    background: #ff001e;
  }
  100% {
    background: #af5661;
  }
}

footer {
  background-color: #111;
  color: #fff;
  z-index: 1;
  position: relative;
}
footer .first {
  background-color: #353535;
  padding: 36px 0;
}
footer .first .left h2 {
  width: 360px;
  color: #d17c0c;
  font-size: 20px;
}
footer .first .left p {
  font-size: 12px;
  width: 360px;
}
footer .first .left input {
  border-radius: 8px;
  border: 1px solid #a0a1a2;
  outline: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 46px;
  padding: 0 24px;
  font-size: 14px;
  line-height: 22px;
  width: 200px;
  margin-left: 40px;
}
footer .first .left button {
  font-size: 14px;
  height: 48px;
  width: 100px;
  padding: 12px 12px;
  line-height: 14px;
  color: #fff;
  background-color: #111;
  border-radius: 8px;
  border: 2px solid #d17c0c;
  cursor: pointer;
  margin-left: 30px;
}
footer .first .left button.mobile-email-btn {
  display: none;
}
footer .first .left button.desktop-email-btn {
  display: block;
}
footer .first .right svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 20px;
}
footer .second {
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .second .left {
  flex-wrap: wrap;
}
footer .second .left ul h3 {
  color: #d17c0c;
}
footer .second .left ul li {
  list-style-type: none;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 35px;
  color: #c3c5c6;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
footer .second .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: normal;
}
footer .second .right .footer-logo {
  margin-bottom: 40px;
  margin-top: 8px;
}
footer .second .right h3 {
  color: #d17c0c;
  margin-bottom: 8px;
}
footer .second .right svg {
  width: 20px;
  height: 20px;
  fill: #d17c0c;
  margin-right: 20px;
}
footer .second .right p {
  color: #fff;
}
footer .second .right p:first-child {
  margin: 10px 0;
  color: #a0a1a2;
  font-size: 12px;
}
footer .third p {
  text-align: center;
  font-size: 14px;
  color: #d17c0c;
}
footer .third p:last-child {
  margin-top: 30px;
  font-size: 12px;
  width: 70%;
  margin: 12px auto 0;
  padding-bottom: 36px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  footer .first .left p {
    font-size: 10px !important;
    width: 240px !important;
  }
  footer .first .left h2 {
    font-size: 14px !important;
    width: 240px !important;
  }
  footer .first .right svg {
    margin-left: 15px;
  }
}
@media screen and (max-width: 545px) {
  .promo-wrapper {
    font-size: 10px;
  }
  .header-banner-wrapper {
    background-image: url("./hero-mobie.jpg");
    background-size: cover;
    background-repeat: repeat-y;
  }
  .header-banner-wrapper header {
    justify-content: space-between;
    height: 60px;
  }
  .header-banner-wrapper header .right-link ul {
    display: none;
  }
  .header-banner-wrapper header .header-icons {
    margin-left: 0;
  }
  .header-banner-wrapper header .header-icons .login {
    display: none;
  }
  .header-banner-wrapper header .hamburger {
    display: block;
  }
  .header-banner-wrapper .fix-logo-wrapper {
    left: 50%;
    top: 17px;
    transform: translate(-50%, 0%);
  }
  .header-banner-wrapper .fix-logo-wrapper h1 {
    font-size: 22px;
  }
  .header-banner-wrapper .logo-wrapper {
    top: 250%;
  }
  .header-banner-wrapper .logo-wrapper img {
    width: 300px;
    height: 78px;
  }
  .header-banner-wrapper .logo-wrapper h1 {
    font-size: 22px;
    text-align: center;
    letter-spacing: 15px !important;
  }
  .header-banner-wrapper .scrolled .logo-wrapper {
    left: 50%;
    top: 17px;
    transform: translate(-50%, 0%);
  }
  .header-banner-wrapper .scrolled .logo-wrapper h1 {
    font-size: 22px;
    letter-spacing: 5px !important;
  }
  .header-banner-wrapper .scrolled .logo-wrapper img {
    width: 120px;
    height: 32px;
  }
  .header-banner-wrapper .navbar-mobile {
    overflow: auto;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  .header-banner-wrapper .navbar-mobile .inside-div {
    position: relative;
  }
  .header-banner-wrapper .navbar-mobile ul {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px;
    margin: 30px 0;
  }
  .header-banner-wrapper .navbar-mobile ul li, .header-banner-wrapper .navbar-mobile ul li:last-child {
    padding: 4px 0;
    margin: 8px 0;
    font-weight: 900;
    color: #000;
    font-size: 18px;
  }
  .header-banner-wrapper .navbar-mobile svg {
    display: block;
  }
  .header-banner-wrapper .navbar-mobile.hamburger-active {
    display: block;
  }
  .header-banner-wrapper .navbar-mobile .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    fill: #fff;
  }
  .header-banner-wrapper .navbar-mobile .banner, .header-banner-wrapper .navbar-mobile .banner-2, .header-banner-wrapper .navbar-mobile .banner-3 {
    width: 100%;
    height: 150px;
  }
  .header-banner-wrapper .navbar-mobile .featured-wrapper {
    margin: 40px 15px;
  }
  .header-banner-wrapper .navbar-mobile .featured-wrapper .features {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 10px 0;
  }
  .header-banner-wrapper .navbar-mobile .featured-wrapper .features img {
    border-radius: 4px;
  }
  .header-banner-wrapper .navbar-mobile .featured-wrapper .features p {
    color: grey;
    font-size: 12px;
  }
  .header-banner-wrapper .navbar-mobile .sale-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: blue;
    color: #fff;
    padding: 20px;
  }
  .header-banner-wrapper .navbar-mobile .sale-wrapper img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
  .header-banner-wrapper .navbar-mobile .sale-wrapper h4 {
    margin-left: 20px;
    padding: 10px;
    background: yellow;
    color: #333;
    border-radius: 8px;
  }
  .header-banner-wrapper .navbar-mobile .specials {
    background: #f7f3ec;
    padding: 40px 15px;
  }
  .header-banner-wrapper .navbar-mobile .specials div {
    margin-bottom: 20px;
  }
  .header-banner-wrapper .navbar-mobile .specials p {
    font-size: 12px;
    color: #99886c;
  }
  .header-banner-wrapper .navbar-mobile .bottom-links {
    margin: 40px 15px;
  }
  .header-banner-wrapper .navbar-mobile .bottom-links h3 {
    margin-bottom: 20px;
  }
  .header-banner-wrapper .navbar-mobile .navbar-mobile-footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid lightgray;
  }
  .header-banner-wrapper .navbar-mobile .navbar-mobile-footer svg {
    width: 25px;
    height: 25px;
  }
  main .main-div h2 {
    font-size: 30px;
  }
  main .floating-link-window {
    transform: translate(0px, -50%);
    background: rgba(255, 255, 255, 0.7098039216);
    padding: 20px;
    right: 0 !important;
    top: 450px;
    border-radius: 8px;
    transform: translate(240px, -50%);
    transition: all 1s cubic-bezier(0.5, 0, 0, 1) 0s;
  }
  main .floating-link-btn {
    display: block !important;
    position: absolute;
    top: 50%;
    left: -55px;
    transform: translateY(-50%) rotate(0deg);
    opacity: 0.5;
    z-index: 5;
    transition: all 1s cubic-bezier(0.5, 0, 0, 1) 0s;
    cursor: pointer;
  }
  main .floating-link-btn button {
    background: transparent;
    border: none;
  }
  .coupon-wrapper {
    left: -60px;
    top: 460px;
  }
  .coupon-wrapper .coupon {
    left: -360px;
  }
  .coupon-wrapper .coupon img {
    width: 360px;
    height: 170px;
  }
  .coupon-wrapper .coupon.active {
    left: 60px;
  }
  .coupon-wrapper .coupon .text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
  }
  .coupon-wrapper .coupon .text-wrapper .left {
    transform: rotate(270deg);
  }
  .coupon-wrapper .coupon .text-wrapper .left h4 {
    text-align: center;
    font-size: 14px;
    line-height: 12px;
  }
  .coupon-wrapper .coupon .text-wrapper .left p {
    font-size: 60px;
    -webkit-text-stroke-color: #ca192e;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    font-family: fantasy;
    text-align: center;
    line-height: 60px;
  }
  .coupon-wrapper .coupon .text-wrapper .right {
    color: #fff;
    width: 80%;
    margin-left: 0 !important;
  }
  .coupon-wrapper .coupon .text-wrapper .right h4 {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
  }
  .coupon-wrapper .coupon .text-wrapper .right .coupon-text {
    font-size: 48px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    font-family: fantasy;
    text-align: center;
  }
  .coupon-wrapper .coupon .text-wrapper .right .validity {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }
  .coupon-btn-wrapper {
    left: -55px;
    top: 460px;
    z-index: 9;
  }
  .coupon-btn-wrapper .coupon-btn {
    font-size: 24px;
    line-height: 24px;
    width: 160px;
    height: 50px;
    font-family: montserrat;
  }
  footer .first {
    flex-direction: column !important;
  }
  footer .first .left {
    flex-direction: column !important;
    align-items: flex-start;
  }
  footer .first .left p {
    font-size: 10px !important;
    width: 100% !important;
  }
  footer .first .left h2 {
    font-size: 18px !important;
    width: 100% !important;
  }
  footer .first .left input {
    margin-left: 0 !important;
  }
  footer .first .left .d-flex:first-child {
    margin-bottom: 20px;
  }
  footer .first .left button {
    margin-left: 5px !important;
  }
  footer .first .left .mobile-email-btn {
    display: block !important;
    padding: 3px 0 0 !important;
    width: 60px !important;
  }
  footer .first .left .mobile-email-btn svg {
    fill: #fff;
    width: 30px;
    height: 30px;
  }
  footer .first .left .desktop-email-btn {
    display: none !important;
  }
  footer .first .left .d-flex:nth-child(2) {
    align-self: center;
  }
  footer .first .right {
    margin-top: 40px;
  }
  footer .first .right svg {
    margin-left: 25px !important;
    width: 30px !important;
    height: 30px !important;
  }
  footer .first .right svg:first-child {
    margin-left: 0 !important;
  }
  footer .second .left ul {
    margin-bottom: 40px;
    width: 47%;
  }
  footer .second .left ul li {
    font-size: 13px !important;
    line-height: 28px !important;
  }
  footer .second .right {
    width: 100%;
    justify-content: center !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  footer .second .right .footer-logo {
    margin-bottom: 0px !important;
    margin-top: 40px !important;
  }
  footer .third p:last-child {
    width: 100% !important;
    font-size: 10px !important;
  }
}/*# sourceMappingURL=index.css.map */